# Arquivos temporários de captura
capturas-api/
json-boloes/

# Driver do Edge
script/msedriver.exe
script/Driver_Notes/

# Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtual
.venv/

# Arquivos temporários
*.tmp
*.bak
*~
